<app-breadcrumb-menu [items_menu]="items_menu" [home]="home"></app-breadcrumb-menu>

<div class="grid animation-duration-500 box ">
    <div class="col-12">
        <div class="card ">
            <div class="row">


                <div class="md:col-4 col-12">
                    <h6>Promotion Code</h6>
                    <input [style]="{'minWidth':'100%'}" type="text" pInputText [(ngModel)]="promotion_Code"
                        placeholder="List Promotion Code">
                </div>
                <div class="md:col-4 col-12">
                    <h6>Promotion Group</h6>
                    <input [style]="{'minWidth':'100%'}" type="text" pInputText [(ngModel)]="promotion_group"
                        placeholder="Promotion Group">
                </div>
                <div class="md:col-4 col-12">
                    <h6>Promotion Name</h6>
                    <input [style]="{'minWidth':'100%'}" type="text" pInputText [(ngModel)]="promotion_name"
                        placeholder="Promotion Name">
                </div>
                <div class="md:col-4 col-12">
                    <h6>Product</h6>
                    <p-dropdown [style]="{ minWidth: '100%' }" [options]="statuses" (onChange)="selectProduct($event)"
                        placeholder="Any" optionLabel="title" optionValue="value" [showClear]="true">
                    </p-dropdown>
                </div>

                <div class="md:col-4 col-12">
                    <h6>Survey</h6>
                    <p-dropdown [style]="{ minWidth: '100%' }" [options]="statuses" (onChange)="selectSurvey($event)"
                        placeholder="Any" optionLabel="title" optionValue="value" [showClear]="true">
                    </p-dropdown>
                </div>
                <div class="md:col-4 col-12">
                    <h6>Status</h6>
                    <p-dropdown [style]="{ minWidth: '100%' }" [options]="statuses" (onChange)="selectStatus($event)"
                        placeholder="Any" optionLabel="title" optionValue="value" [showClear]="true">
                    </p-dropdown>
                </div>
                <!-- <div class="md:col-3 col-12">
                    <h6>Category</h6>
                    <app-control-osa-category (outValue)="selectedCategory($event)"></app-control-osa-category>
                </div> -->

                <!-- <div class="md:col-3 col-12">
                    <h6>Bar Code</h6>
                    <input [style]="{'minWidth':'100%'}" type="text" pInputText [(ngModel)]="barcode"
                        placeholder="List Bar Code">
                </div> -->
            </div>
        </div>
    </div>

</div>

<!-- filter -->

<div class="grid">
    <div class="col-12">
        <p-toolbar>
            <div class="p-toolbar-group-left flex flex-wrap gap-2 ">
                <button pButton type="button" (click)="handleFilter()" label="Filter" icon="pi pi-search "
                    class="p-button-sm"></button>
                <button type="button" label="Create" pButton pRipple icon="pi pi-plus" style="float: right"
                    (click)="create()" class="p-button-sm"></button>
                <button type="button" label="Clone" pButton pRipple icon="pi pi-copy" style="float: right"
                    (click)="clone()" class="p-button-sm"></button>
                <button type="button" label="Raw data" pButton (click)="export()" pRipple icon="pi pi-file-excel"
                    style="float: right" class="p-button-sm"></button>
                <button type="button" (click)="ShowHideTemplate(1)" label="Import Excel" pButton pRipple
                    class="p-button-sm" icon="pi pi-upload"></button>


                <i class="pi pi-bars p-toolbar-separator"></i>
                <!-- <div class="ml-2 mt-2">
                    <p-toggleButton [(ngModel)]="checked" pStyleClass=".box" 
                    [enterClass]="!checked ? 'hidden': ''"
                    [enterActiveClass]="!checked ? 'fadein': ''"
                    [leaveActiveClass]="checked ? 'fadeout': ''" 
                    [leaveToClass]="checked ? 'hidden': ''"
                    [onIcon]="icon_eye" offIcon="pi pi-eye-slash"></p-toggleButton>
                </div> -->
                <button pButton type="button" pTooltip="Show Filter" pStyleClass=".box" enterClass="hidden"
                    enterActiveClass="fadeinup" (click)="showFilter()" tooltipPosition="top" icon="pi pi-eye"
                    class=" p-button-success p-button-sm " [ngStyle]="{'display': showFiter ?'none':'flex'}"></button>

                <button pButton type="button" pTooltip="Hide Filter" (click)="showFilter()" tooltipPosition="top"
                    icon="pi pi-eye-slash" class="p-button-warning p-button-sm" pStyleClass=".box"
                    leaveActiveClass="fadeoutup" leaveToClass="hidden"
                    [ngStyle]="{'display': !showFiter?'none':'flex'}"></button>

            </div>
        </p-toolbar>
    </div>
</div>

<div class="card" *ngIf="showTemplate === 1">
    <p-toolbar>
        <div class="p-toolbar-group-start">
            <div class="text-center" class="mr-2">
                <input class="form-control" type="file" (change)="onChange($event)" #myInputFile />
            </div>

            <button pButton pRipple label="Get Template Promotion" icon="pi pi-file-export" (click)="getTemplate()"
                class="p-button-sm p-button-info mr-2"></button>
            <button pButton pRipple (click)="importTemplate()" class="ml-2" label="Upload File Promotion"
                icon="pi pi-upload" class="p-button-sm p-button-success"></button>
        </div>
    </p-toolbar>

    <hr>

    <div class="card" *ngIf="dataError">
        <p-table #dt [columns]="cols" [value]="dataError" selectionMode="multiple" [exportHeader]="'customExportHeader'"
            [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="caption">
                <div class="flex">
                    <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                        class="p-button-success ml-auto" pTooltip="XLS" tooltipPosition="bottom"></button>
                    <!-- 'jspdf' - 'jspdf-autotable' -->
                    <!-- <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf('jspdf', 'jspdf-autotable' )" class="p-button-warning ml-auto" pTooltip="PDF" tooltipPosition="bottom"></button> -->
                </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{ col.header }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns">
                        <p *ngIf="col.field !== 'desc_image' && rowData[col.field]">{{ rowData[col.field] }} </p>
                        <p-image *ngIf="col.field === 'desc_image' && rowData[col.field]" [src]="rowData[col.field]"
                            alt="Image" width="50" height="50" [preview]="true"></p-image>
                        <!-- "https://cdn.pixabay.com/photo/2014/06/03/19/38/road-sign-361514_960_720.png" - "desc_image" -->
                    </td>
                </tr>
            </ng-template>

        </p-table>
    </div>

    <hr>
    <div class="card" *ngIf="dataMessError">
        <div class=" col-12">
            <div class="grid">
                <div class="col-1 font-bold">
                    Error Name :
                </div>
                <div class="col-11">
                    {{dataMessError}}
                </div>
            </div>
        </div>
    </div>

</div>



<!-- data -->
<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-table dataKey="promotion_id" [rows]="20" *ngIf="dataPromotion && dataPromotion.length > 0" [scrollable]="true"
                [value]="dataPromotion" styleClass="p-datatable-gridlines" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="caption">
                    Total Item: {{ totalRecords }}

                    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
                        [totalRecords]="totalRecords" [rowsPerPageOptions]="[20, 50, 100]"></p-paginator>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 5rem"></th>
                        <th class="text-center">RowNum</th>
                        <th>Promotion Code</th>
                        <th>Promotion Name</th>
                        <th>Promotion Group</th>
                        <th class="text-center">Product</th>
                        <th class="text-center">Survey</th>
                        <th class="text-center">Status</th>
                        <th class="text-center " style="width: 15px">Action</th>


                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-dataPromotion let-expanded="expanded">
                    <!-- [pTooltip]="Promotion Id : {{tab.promotion_id}}"  -->
                    <tr tooltipPosition="top">
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="dataPromotion"
                                class="p-button-text p-button-rounded p-button-plain"
                                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td class="text-center"> {{ dataPromotion.rowNumber }}</td>
                        <td>{{ dataPromotion.promotion_code }}</td>
                        <td>{{ dataPromotion.promotion_name }}</td>
                        <td> {{ dataPromotion.promotion_group}}</td>
                        <td class="text-center">
                            <i *ngIf="dataPromotion.product !== 0" class="pi text-green-500 pi-check-circle"></i>
                            <i *ngIf="dataPromotion.product === 0" class="pi text-red-500 pi-times-circle"></i>
                        </td>
                        <td class="text-center">
                            <i *ngIf="dataPromotion.survey !== 0" class="pi text-green-500 pi-check-circle"></i>
                            <i *ngIf="dataPromotion.survey === 0" class="pi text-red-500 pi-times-circle"></i>
                        </td>
                        <td class="text-center">
                            <i *ngIf="dataPromotion.status !== 0" class="pi text-green-500 pi-check-circle"></i>
                            <i *ngIf="dataPromotion.status === 0" class="pi text-red-500 pi-times-circle"></i>
                        </td>
                        <td class="text-center">
                            <p-button pTooltip="Update info employee" (click)="update(dataPromotion)"
                                tooltipPosition="left" icon="pi pi-file-edit "
                                styleClass="p-button-rounded p-button-text p-button-raised "></p-button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="rowexpansion" let-dataPromotion>
                    <tr style="text-align: center;">
                        <td colspan="100%">
                            <div class="p-3 " style="width: 100% !important;">
                                <p-toolbar>
                                    <app-detail-promo [data]="dataPromotion" (outValue)="readData($event)"></app-detail-promo>
                                </p-toolbar>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <!-- 
                <ng-template pTemplate="summary ">
                    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
                        [totalRecords]="totalRecords" [rowsPerPageOptions]="[5, 50, 100]"></p-paginator>
                </ng-template> -->
            </p-table>
            <div class="card flex justify-content-center justify-content-between text-center"
                *ngIf="dataPromotion && dataPromotion.length <= 0" style="float: right">
                <h5>No data</h5>
            </div>
        </div>
    </div>
</div>

<p-dialog [header]="dataOnePromotion === undefined ? 'Create Promotion' : 'Update Promotion'"
    [(visible)]="PromotionCreate" [modal]="true" [style]="{ width: '50vw' }" [maximizable]="true">
    <app-create-promo [dataOnePromotion]="dataOnePromotion" (actionEvent)="actionHiddenShow($event)"></app-create-promo>
</p-dialog>
<p-dialog [header]="'Clone Promotion'" [(visible)]="ShowClone" [modal]="true" [style]="{ width: '50vw' }"
    [maximizable]="true">
    <div class="card">
        <div class="row">
            <div class="col-12 lg:col-4 ">
                <h6>Promotion <span style="color: red; font-weight: bold">*</span></h6>
                <p-dropdown [options]="listPromotion" [showClear]="true" [filter]="true"
                    filterBy="name" [style]="{'minWidth':'100%', 'width': '33%'}" [(ngModel)]="selectPromotion"
                    placeholder="Select a Promotion " optionLabel="name" appendTo="body">
                </p-dropdown>
            </div>
            <div class="lg:col-4 col-12">
                <h6>Promotion Clone Code <span style="color: red; font-weight: bold">*</span></h6>
                <input [style]="{'minWidth':'100%'}" type="text" pInputText [(ngModel)]="promotion_clone_code"
                    placeholder="Promotion clone code">
            </div>
            <div class="lg:col-4 col-12">
                <h6>Promotion Clone Name<span style="color: red; font-weight: bold">*</span></h6>
                <input [style]="{'minWidth':'100%'}" type="text" pInputText [(ngModel)]="promotion_clone_name"
                    placeholder="Promotion clone Name">
            </div>
            <div class="col-12">
                <button type="button" [style]="{'minWidth':'100%'}" label="Clone" pButton pRipple  style="float: right"
                    (click)="handlerClone()" class="p-button-sm p-button-success"></button>
            </div>
        </div>
    </div>
</p-dialog>