<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add User</li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <!-- {{ userProfile.login_name }} -->
                                <h4></h4>
                                <!-- {{userProfile.birthday_date}} -->
                                <p class="text-secondary mb-1"></p>

                                <!-- 
                                <input type="hidden" id="files" name="files" ngModel (ngModelChange)="hasSelectedFile = !!$event" #files="ngModel" required />
                                <p-fileUpload #fileUpload accept="image/*" [ngClass]="{
                                     'ng-invalid': !hasSelectedFile,
                                     'ng-valid': hasSelectedFile,
                                    required: hasSelectedFile,
                                     'w-100': true
                                }" [showUploadButton]="false" (onSelect)="onSelect($event)" (onRemove)="onRemove($event)" (onClear)="files.control.setValue(null)" (onRemove)="files.control.setValue(fileUpload.files.length >= 1 ? 'done' : null)" (onSelect)="files.control.setValue('done')"></p-fileUpload>
                                <div class="m-1 card-footer flex justify-content-center">
                                    <p-button label="Update Image" (click)="onUpload1(fileImage.currentFiles,fileUpload)" *ngIf="fileImage" styleClass="p-button-success p-button-sm m-2"></p-button>
                                </div> -->

                                <p-messages [value]="msgs"></p-messages>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">

                    <div class="p-fluid">

                        <h5 class="font-bold">Account
                        </h5>

                        <div class="field">
                            <label htmlFor="name1">Login name</label>
                            <!-- userProfile.login_name -->
                            <input pInputText id="login_name" [(ngModel)]="login_name" class="text-center font-bold" type="text" [value]="userProfile" [disabled]="false" />
                        </div>

                        <div class="field">
                            <label htmlFor="password">Password</label>
                            <!-- userProfile.passEncrypt -->
                            <p-password id=" password " placeholder="please input password" [(ngModel)]="password" [disabled]=" false " [toggleMask]="false">

                                <ng-template pTemplate="footer">
                                    <p-divider></p-divider>
                                    <p class="mt-2">Suggestions</p>
                                    <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                        <li>At least one lowercase</li>
                                        <li>At least one uppercase</li>
                                        <li>At least one numeric</li>
                                        <li>Minimum 8 characters</li>
                                    </ul>
                                </ng-template>

                            </p-password>
                        </div>

                        <div class="field ">
                            <label htmlFor="name1 ">Account Test</label>
                            <p>
                                <!-- userProfile.is_test -->
                                <!-- <p-checkbox [(ngModel)]="userProfile" inputId="binary " [disabled]="false"></p-checkbox> -->
                                <p-checkbox [(ngModel)]="checked" (click)="checkAccountTest()" [binary]="true" inputId="binary"></p-checkbox>
                                <!-- <p-checkbox *ngIf="userProfile.is_test == 1" [(ngModel)]="checked" [binary]="true" inputId="binary"></p-checkbox> -->

                            </p>
                        </div>


                        <!-- <div class="field ">
                            <p-splitButton label="Change Password " styleClass="p-button-success p-button-sm " icon="pi pi-save " (onClick)="Change_Password() " [model]="items "></p-splitButton>
                            <p-messages [value]="msgsAccount "></p-messages>
                        </div> -->


                    </div>


                </div>
            </div>

            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">

                        <div class=" p-fluid ">
                            <h5 class="font-bold">Info</h5>

                            <div class="field ">
                                <label htmlFor="email1 ">Employee Id</label>
                                <!-- employee_id -->
                                <input pInputText id="_employee_id " [(ngModel)]="employee_id" class="text-center font-bold " type="number" />
                            </div>

                            <div class="field ">
                                <label htmlFor="email1 ">Employee Code</label>
                                <!-- employee_code -->
                                <input pInputText id="_employee_code " [(ngModel)]="employee_code" class="text-center font-bold " type="text" />
                            </div>

                            <div class="field ">
                                <label htmlFor="email1 ">Employee Name</label>
                                <!-- employee_name -->
                                <input pInputText id="_employee_name " [(ngModel)]="employee_name" class="text-center font-bold " type="text" />
                            </div>

                            <div class="field">
                                <label htmlFor="email1 ">CCCD</label>
                                <!-- card_number -->
                                <!-- <input pInputText id="card_number" [(ngModel)]="userProfile.card_number" type="text" /> -->
                                <input pInputText id="card_number " [(ngModel)]="card_number" class="text-center font-bold " type="text" />
                            </div>

                            <div class="field">
                                <label htmlFor="contact_mobile ">Mobile</label>
                                <!-- mobile -->
                                <input pInputText id="contact_mobile" type="number" [(ngModel)]="mobile" />
                                <!-- <p-inputMask mask="(999) 999-9999" [(ngModel)]="mobile" placeholder="(999) 999-9999" class="text-center font-bold "></p-inputMask> -->
                            </div>

                            <div class="field ">
                                <!-- birthday_date -->
                                <label htmlFor="email1 ">Birthday Date</label>
                                <p-inputMask [(ngModel)]="birthday_date" mask="9999-99-99" placeholder="yyyy-mm-dd" slotChar="yyyy-mm-dd"></p-inputMask>
                            </div>

                            <div class="field ">
                                <label htmlFor="email1 ">Email</label>
                                <!-- email -->
                                <input pInputText id="email" [(ngModel)]="email" class=" text-center font-bold " type="email " />
                            </div>

                            <div class="field ">
                                <label htmlFor="email1 ">Employee Type Id</label>
                                <!-- employee_type_id -->
                                <!-- <input pInputText id="email " [(ngModel)]="userProfile" class=" text-center font-bold " type="number " /> -->

                                <!-- <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name"></p-dropdown> -->
                                <app-control-employee-type (outValue)="selectEmployeeType($event)"></app-control-employee-type>

                            </div>


                            <div class="field ">
                                <p-button label="Save" (click)="save_info() " styleClass="p-button-success p-button-sm "></p-button>
                                <p-messages [value]="msgsInfo "></p-messages>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="card mb-3">
                    <div class="p-fluid ">

                        <h5 class="font-bold">Projects</h5>
                        <div class="field ">
                            <!-- {{project_list|json}} -->

                            <div class="" *ngIf="project_list">
                                <p-table [value]="project_list" [tableStyle]="{ 'min-width': '50rem' } ">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Code</th>
                                            <th>Name</th>
                                            <th>Description</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-project>
                                        <tr>
                                            <td>{{ project.project_code }}</td>
                                            <td>{{ project.project_name }}</td>
                                            <td>{{ project.project_desc }}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>

                            </div>

                        </div>

                        <div class="card flex justify-content-start " *ngIf="user_profile !='current' ">
                            <p-button label="Add Project " styleClass="p-button-info p-button-sm " [style]="{ 'max-width': '100px' } "></p-button>
                            <p-button label="Remove Project " styleClass="p-button-danger p-button-sm ml-2 " [style]="{ 'max-width': '100px' } "></p-button>

                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>
</div>