<div class="card">
    <p-tabView styleClass="tabview-custom">
        <p-tabPanel header="EXPLANNATION">
            <div>
                <div class="row">
                    <div class="md:col-3">
                        <span *ngIf="empName"
                            ><b>{{ empName }} giải trình công </b></span
                        >
                        <div class="wrapper">
                            <div
                                class="wrapper-child p-3"
                                *ngFor="let event of data.step"
                            >
                                <div
                                    class="w-fit h-full flex flex-column align-items-center justify-content-center mr-3"
                                >
                                    <div
                                        class="shadow-6 border-circle flex align-items-center justify-content-center"
                                        style="width: 2rem; aspect-ratio: 1/1"
                                    ></div>
                                    <div class="line"></div>
                                </div>
                                <p-card
                                    class="w-full"
                                    [header]="event.desc"
                                    [subheader]="event.created_date"
                                >
                                    <div
                                        class="flex flex-row w-full h-fit gap-3"
                                        *ngFor="let item of event.images"
                                    >
                                        <p-image
                                            *ngIf="
                                                item.file_url &&
                                                item.file_url
                                                    .split('')
                                                    .slice(-3)
                                                    .join('') !== 'pdf'
                                            "
                                            [src]="item.file_url"
                                            [alt]="item.file_name"
                                            class="shadow-2"
                                            [preview]="true"
                                            width="80"
                                        />
                                        <div
                                            class="flex flex-row align-items-center justify-content-between"
                                            *ngIf="
                                                item.file_url &&
                                                item.file_url
                                                    .split('')
                                                    .slice(-3)
                                                    .join('') === 'pdf'
                                            "
                                        >
                                            <!-- <span class="font-medium">{{item.file_url}}</span> -->
                                            <i
                                                class="pi pi-download"
                                                style="
                                                    font-size: 2rem;
                                                    cursor: pointer;
                                                "
                                                (click)="
                                                    DownloadFile(item.file_url)
                                                "
                                            ></i>
                                        </div>
                                    </div>
                                    <p></p>
                                    <p *ngIf="event.employee_name">
                                        Thực hiện:
                                        <span style="color: rgb(99, 164, 0)">{{
                                            event.employee_name
                                        }}</span>
                                    </p>
                                    <p *ngIf="event.action_status_id !== null">
                                        Trạng thái:
                                        <span
                                            [ngStyle]="{
                                                color:
                                                    event.action_status_id === 0
                                                        ? 'red'
                                                        : 'green'
                                            }"
                                            >{{ event.action_status }}</span
                                        >
                                    </p>
                                </p-card>
                            </div>
                        </div>
                    </div>
                    <div class="md:col-9" style="border-left: 2px solid black">
                        <p-table
                            #dt1
                            [value]="data.explanation"
                            dataKey="request_id"
                            [rows]="10"
                            [rowsPerPageOptions]="[10, 25, 50]"
                            [loading]="loading"
                            [paginator]="true"
                            [globalFilterFields]="[
                                'shop_name',
                                'date',
                                'employee_name'
                            ]"
                            styleClass="p-datatable-gridlines"
                        >
                            <ng-template pTemplate="caption">
                                <div class="flex">
                                    <p-button
                                        label="Clear"
                                        icon="pi pi-filter-slash"
                                        (click)="clear(dt1)"
                                    />
                                    <span class="p-input-icon-left ml-auto">
                                        <i class="pi pi-search"></i>
                                        <input
                                            #searchInput
                                            pInputText
                                            type="text"
                                            [(ngModel)]="searchValue"
                                            (input)="
                                                dt1.filterGlobal(
                                                    searchInput.value,
                                                    'contains'
                                                )
                                            "
                                            placeholder="Search keyword"
                                        />
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="min-width: 15rem">
                                        <div class="flex align-items-center">
                                            Cửa hàng
                                            <!-- <p-columnFilter type="text" field="shop_name" display="menu" /> -->
                                        </div>
                                    </th>
                                    <th style="min-width: 8rem">
                                        <div class="flex align-items-center">
                                            Ngày
                                            <!-- <p-columnFilter type="text" field="atd_date" display="menu" /> -->
                                        </div>
                                    </th>
                                    <th style="min-width: 15rem">
                                        <div class="flex align-items-center">
                                            Nhân viên
                                            <!-- <p-columnFilter type="text" field="employee_name" display="menu" /> -->
                                        </div>
                                    </th>
                                    <th style="min-width: 8rem">
                                        <div class="flex align-items-center">
                                            Ca
                                            <!-- <p-columnFilter type="text" field="shift_code" display="menu" /> -->
                                        </div>
                                    </th>
                                    <th style="min-width: 8rem">
                                        <div class="flex align-items-center">
                                            Loại
                                            <!-- <p-columnFilter type="text" field="shift_code" display="menu" /> -->
                                        </div>
                                    </th>

                                    <th style="min-width: 10rem">
                                        <div class="flex align-items-center">
                                            Ghi chú
                                            <!-- <p-columnFilter type="text" field="shift_code" display="menu" /> -->
                                        </div>
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-item>
                                <tr>
                                    <td>
                                        {{ item.shop_name }}
                                    </td>
                                    <td>
                                        {{ item.atd_date }}
                                    </td>
                                    <td>
                                        {{ item.employee_name }}
                                    </td>
                                    <td>
                                        {{ item.shift_code }}
                                    </td>
                                    <td>
                                        {{ item.atd_type }}
                                    </td>
                                    <td>
                                        {{ item.Explanation_note }}
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="7">No data.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>
