<app-breadcrumb-menu [items_menu]="items_menu" [home]="home"></app-breadcrumb-menu>

<div class="grid ">

    <div class="col-12 ">

        <p-toolbar>
            <div class="p-toolbar-group-left flex flex-wrap ">

                <button type="button" (click)="reasonView()" label="Reason" pButton class="p-button-sm mr-2" pRipple
                    icon="pi pi-question-circle" style="float: right;"></button>

            </div>


        </p-toolbar>
    </div>

</div>

<hr>

<div class="card">
    <h6><b>Total Item: {{ListPosm.length}}</b></h6>

    <p-table [globalFilterFields]="['posm_code', 'posm_name', 'posm_image', 'employee_code', 'employee_name', 'created_date', 'status']"
        [value]="ListPosm" dataKey="posm_id" editMode="row" [tableStyle]="{'min-width': '50rem'}">

        <ng-template pTemplate="header">
            <tr>
                <th>POSM Code</th>
                <th>POSM Name</th>
                <th>POSM Image</th>
                <th>Employee Code</th>
                <th>Employee Name</th>
                <th>Create Date</th>
                <th class="text-center">Status</th>
                <th></th>
            </tr>

            <tr>
                <th>
                    <p-columnFilter type="text" [matchMode]="'contains'"  field="posm_code"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" [matchMode]="'contains'"  field="posm_name"></p-columnFilter>
                </th>
                <th>
                    <!-- <p-columnFilter type="text" field="posm_image"></p-columnFilter> -->
                    <!-- https://files.ewoapi.acacy.com.vn/202307/POSM/5c50aa92-80e6-417f-af1d-701e0b2efe91.jpg -->
                </th>
                <th>
                    <p-columnFilter type="text" [matchMode]="'contains'"  field="employee_code"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" [matchMode]="'contains'"  field="employee_name"></p-columnFilter>
                </th>
                <th>
                    <!-- <p-columnFilter type="date" field="created_date"></p-columnFilter> -->
                </th>
                <th>
                    <!-- <p-columnFilter type="text" field="status"></p-columnFilter> -->
                    <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)"
                                placeholder="Any" [showClear]="true" appendTo="body">
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>

                </th>
                <th>
                    <button type="button" pButton pRipple icon="pi pi-plus" (click)="createListPosm()"></button>
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-posm let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="posm">

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="font-bold" pInputText type="text" [(ngModel)]="posm.posm_code"
                                [disabled]="true">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{posm.posm_code}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="text" [(ngModel)]="posm.posm_name">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{posm.posm_name}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <div class="text-center">
                                <input class="form-control" type="file" (change)="onChange($event)">
                            </div>

                        </ng-template>
                        <ng-template pTemplate="output">
                            <p-image src={{posm.posm_image}} alt="Image" width="70" min-height="70"
                                [preview]="true"></p-image>
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            {{posm.employee_code}}
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{posm.employee_code}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            {{posm.employee_name}}
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{posm.employee_name}}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="font-bold" pInputText type="text" [(ngModel)]="posm.created_date"
                                [disabled]="true">
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{posm.created_date}}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td class="text-center">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <!-- {{posm._status}} -->
                            <p-checkbox name="group1" [binary]="true" [(ngModel)]="posm._status"
                                [inputId]="posm.posm_id">
                            </p-checkbox>

                        </ng-template>
                        <ng-template pTemplate="output">
                            <!-- <label *ngIf="posm._status == true">Active</label>
                            <label *ngIf="posm._status == false">In Active</label> -->
                            <i class="pi"
                                [ngClass]="{'true-icon pi-check-circle text-green-500': posm._status === true, 'false-icon pi-times-circle text-pink-500':  posm._status === false}"></i>
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>
                    <div class="flex align-items-center justify-content-center gap-2">
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil"
                            class="p-button-rounded p-button-text"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"
                            (click)="onRowEditSave(posm)"
                            class="p-button-rounded p-button-text p-button-success mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times"
                            class="p-button-rounded p-button-text p-button-danger"></button>
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No posm found.</td>
            </tr>
        </ng-template>

    </p-table>
</div>

<p-dialog header="Create Posm" [modal]="true" [(visible)]="ListPosmCreate" [style]="{width: '50vw'}"
    [maximizable]="true">

    <!-- (newItemEvent)="addItem($event)" -->
    <app-posm-details [clearMess]="clearMess" (newItemEvent)="addItem($event)" [inValue]="ListPosm"
        [action]="'create'"></app-posm-details>

</p-dialog>