<app-breadcrumb-menu [items_menu]="items_menu" [home]="home"></app-breadcrumb-menu>

<div class="grid">
    <div class="col-12">
        <p-toolbar>
            <div class="p-toolbar-group-left flex flex-wrap">
                <button channel="button" (click)="export()" label="Raw data" pButton pRipple icon="pi pi-file-excel"
                    style="float: right" class="p-button-sm"></button>
            </div>
        </p-toolbar>
    </div>
</div>
<div class="card">
    <!-- <p-toast></p-toast> -->
    <h6>
        <b>Total Item: {{ ListStoreChannel.length }}</b>
    </h6>

    <p-table [globalFilterFields]="[
            'channel_code',
            'channel_name',
            'employee_code',
            'employee_name',
            'created_date',
            'status'
        ]" [value]="ListStoreChannel" dataKey="channel_id" editMode="row" [tableStyle]="{ 'min-width': '50rem' }">

        <ng-template pTemplate="header">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Employee Code</th>
                <th>Employee Name</th>
                <th>Create Date</th>
                <th class="text-center">Status</th>
                <!-- <th style="width: 20%"></th> -->
            </tr>

            <tr>
                <th>
                    <p-columnFilter channel="text"  [matchMode]="'contains'" field="channel_code"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter channel="text" [matchMode]="'contains'"  field="channel_name"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter channel="text" [matchMode]="'contains'"  field="employee_code"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter channel="text" [matchMode]="'contains'"  field="employee_name"></p-columnFilter>
                </th>
                <th>
                    <!-- <p-columnFilter channel="date" field="created_date"></p-columnFilter> -->
                </th>
                <th>
                    <!-- <p-columnFilter channel="text" field="status"></p-columnFilter> -->
                    <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)"
                                placeholder="Any" [showClear]="true" appendTo="body">
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
                <!-- <th>
                    <button
                        channel="button"
                        pButton
                        pRipple
                        icon="pi pi-plus"
                        (click)="createStoreChannel()"
                    ></button>
                </th> -->
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-storeChannel let-editing="editing" let-ri="rowIndex">
            <!-- {{storeChannel|json}} -->
            <tr [pEditableRow]="storeChannel">
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="font-bold" pInputText channel="text" [(ngModel)]="storeChannel.channel_code"
                                [disabled]="true" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ storeChannel.channel_code }}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText channel="text" [(ngModel)]="storeChannel.channel_name" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ storeChannel.channel_name }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText channel="text" [(ngModel)]="storeChannel.employee_code" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ storeChannel.employee_code }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText channel="text" [(ngModel)]="storeChannel.employee_name" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ storeChannel.employee_name }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input class="font-bold" pInputText channel="text" [(ngModel)]="storeChannel.created_date"
                                [disabled]="true" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ storeChannel.created_date }}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td class="text-center">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <!-- {{posm._status}} -->
                            <p-checkbox name="group1" [binary]="true" [(ngModel)]="storeChannel._status"
                                [inputId]="storeChannel.channel_id">
                            </p-checkbox>
                        </ng-template>
                        <ng-template pTemplate="output">
                            <i class="pi"
                                [ngClass]="{'true-icon pi-check-circle text-green-500': storeChannel.status == 1, 
                                                'false-icon pi-times-circle text-pink-500': storeChannel.status == 0}"></i>
                        </ng-template>
                    </p-cellEditor>
                </td>

                <!-- <td>
                    <div
                        class="flex align-items-center justify-content-center gap-2"
                    >
                        <button
                            *ngIf="!editing"
                            pButton
                            pRipple
                            channel="button"
                            pInitEditableRow
                            icon="pi pi-pencil"
                            class="p-button-rounded p-button-text"
                        ></button>
                        <button
                            *ngIf="editing"
                            pButton
                            pRipple
                            channel="button"
                            pSaveEditableRow
                            icon="pi pi-check"
                            (click)="onRowEditSave(storeChannel)"
                            class="p-button-rounded p-button-text p-button-success mr-2"
                        ></button>
                        <button
                            *ngIf="editing"
                            pButton
                            pRipple
                            channel="button"
                            pCancelEditableRow
                            (click) ="onRowRemoveSave()"
                            icon="pi pi-times"
                            class="p-button-rounded p-button-text p-button-danger"
                        ></button>
                    </div>
                </td> -->
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">No store channel found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Create Store Channel" [modal]="true" [(visible)]="StoreChannelCreate" [style]="{ width: '50vw' }"
    [maximizable]="true">
    <app-store-channel-detail (newItemEvent)="addItem($event)" [clearMess]="clearMess" [inValue]="ListStoreChannel"
        [action]="'create'"></app-store-channel-detail>
</p-dialog>