<div *ngIf="action == 'view'" class="grid">
    <div class="col-12">
        <div class="card">
            <div class="grid">
                <div class="col-4">
                    <div class="col-12">
                        <div class="grid">
                            <div class="col-5">
                                <h6 htmlFor="card_number">CCCD</h6>
                            </div>
                            <div class="col-7 p-fluid">
                                <input
                                    pInputText
                                    id="card_number"
                                    type="number"
                                    [(ngModel)]="inValue.card_number"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="grid">
                            <div class="col-5">
                                <h6 htmlFor="birthday ">Birthday Date</h6>
                            </div>
                            <div class="col-7 p-fluid">
                                <input
                                    pInputText
                                    id="date"
                                    class="mr-2"
                                    type="date"
                                    [(ngModel)]="inValue.birthday_date"
                                />
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="grid">
                            <div class="col-5">
                                <h6 htmlFor="sex">Gender</h6>
                            </div>
                            <div class="col-7 p-fluid">
                                <input
                                    pInputText
                                    id="sex"
                                    class="mr-2"
                                    type="sex"
                                    [(ngModel)]="inValue.sex"
                                />
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="grid">
                            <div class="col-5">
                                <h6 htmlFor="login_name ">Login Name</h6>
                            </div>
                            <div class="col-7 p-fluid">
                                <input
                                    pInputText
                                    id="login_name"
                                    type="text"
                                    [(ngModel)]="inValue.login_name"
                                />
                            </div>
                        </div>
                    </div>

                    <div class="col-12" *ngIf="inValue.Position != null">
                        <div class="grid">
                            <div class="col-5">
                                <h6 htmlFor="Position ">Position</h6>
                            </div>
                            <div class="col-7 p-fluid">
                                <input
                                    pInputText
                                    id="Position"
                                    type="text"
                                    [(ngModel)]="inValue.Position"
                                />
                            </div>
                        </div>
                    </div>

                    <div class="col-12" *ngIf="inValue.Category != null">
                        <div class="grid">
                            <div class="col-5">
                                <h6 htmlFor="Category">Category</h6>
                            </div>
                            <div class="col-7 p-fluid">
                                <input
                                    pInputText
                                    id="Category"
                                    type="text"
                                    [(ngModel)]="inValue.Category"
                                />
                            </div>
                        </div>
                    </div>

                    <div class="col-12" *ngIf="inValue.device_info">
                        <div class="card grid">
                            <div class="col-5">
                                <h6 htmlFor="login_name ">
                                    THÔNG TIN THIẾT BỊ
                                </h6>
                            </div>
                            <div class="col-7 p-fluid">
                                <p *ngIf="inValue.device_info.model">
                                    <b>model: </b>
                                    {{ inValue.device_info.model }}
                                </p>
                                <p *ngIf="inValue.device_info.brand">
                                    <b>brand: </b>
                                    {{ inValue.device_info.brand }}
                                </p>
                                <p *ngIf="inValue.device_info.device">
                                    <b>device: </b>
                                    {{ inValue.device_info.device }}
                                </p>
                                <p *ngIf="inValue.device_info.deviceId">
                                    <b>deviceId: </b>
                                    {{ inValue.device_info.deviceId }}
                                </p>
                                <p *ngIf="inValue.device_info.key_login">
                                    <b>key_login: </b>
                                    {{ inValue.device_info.key_login }}
                                </p>
                                <p *ngIf="inValue.device_info.manufacturer">
                                    <b>manufacturer: </b>
                                    {{ inValue.device_info.manufacturer }}
                                </p>
                                <p *ngIf="inValue.device_info.product">
                                    <b>product: </b>
                                    {{ inValue.device_info.product }}
                                </p>
                                <p *ngIf="inValue.device_info.release">
                                    <b>release: </b>
                                    {{ inValue.device_info.release }}
                                </p>
                                <p *ngIf="inValue.device_info.sdk">
                                    <b>sdk: </b> {{ inValue.device_info.sdk }}
                                </p>
                                <p>
                                    <p-confirmPopup></p-confirmPopup>
                                    <p-button
                                        label="Reset device info"
                                        (click)="resetDevice($event)"
                                        styleClass="p-button-success p-button-sm "
                                    ></p-button>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div
                        class="col-12"
                        *ngIf="project_list && project_id == 21"
                    >
                        <div class="card grid">
                            <div class="col-5">
                                <h6 htmlFor="project_list">JOIN DATE</h6>
                            </div>
                            <div class="col-7 p-fluid">
                                <p *ngIf="project_list.woking_region">
                                    <b>Woking region: </b>
                                    {{ project_list.woking_region }}
                                </p>
                                <p *ngIf="project_list.joindate_project_id">
                                    <b>Join date project: </b>
                                    {{
                                        convertDateStr(
                                            project_list.joindate_project_id
                                        )
                                    }}
                                </p>
                                <p *ngIf="project_list.joindate_acacy">
                                    <b>Join date ACACY: </b>
                                    {{
                                        convertDateStr(
                                            project_list.joindate_acacy
                                        )
                                    }}
                                </p>
                                <p *ngIf="project_list.trial_day">
                                    <b>Trial day: </b>
                                    {{ convertDateStr(project_list.trial_day) }}
                                </p>
                                <p *ngIf="project_list.probation_end_date">
                                    <b>Probation end date: </b>
                                    {{
                                        convertDateStr(
                                            project_list.probation_end_date
                                        )
                                    }}
                                </p>
                                <p *ngIf="project_list.end_date">
                                    <b>End date: </b>
                                    {{ convertDateStr(project_list.end_date) }}
                                </p>
                            </div>
                        </div>
                    </div>

                    <!-- {
     
    "woking_region": "Bình Dương",
    "joindate_project_id": 20240330,
    "joindate_acacy": 20241001,
    "trial_day": 20240601,
    "probation_end_date": 20240930,
    "end_date": 20241001
} -->
                </div>
                <div class="col-4">
                    <div class="col-12">
                        <div class="grid">
                            <div class="col-5">
                                <h6 htmlFor="image">Image Profile</h6>
                            </div>
                            <div class="col-7 p-fluid">
                                <p-image
                                    [src]="inValue.image"
                                    [preview]="true"
                                    alt="Image"
                                    width="100"
                                    height="100"
                                    (onImageError)="
                                        onImageErrorImageProfile(
                                            $event,
                                            'image'
                                        )
                                    "
                                >
                                </p-image>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="grid">
                            <div class="col-5">
                                <h6 htmlFor="image_card_before">
                                    Image Card Before
                                </h6>
                            </div>
                            <div class="col-7 p-fluid">
                                <p-image
                                    [src]="inValue.image_card_before"
                                    [preview]="true"
                                    alt="Image"
                                    width="100"
                                    height="100"
                                    (onImageError)="
                                        onImageErrorImageProfile(
                                            $event,
                                            'image_card_before'
                                        )
                                    "
                                >
                                </p-image>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="grid">
                            <div class="col-5">
                                <h6 htmlFor="image_card_after ">
                                    Image Card After
                                </h6>
                            </div>
                            <div class="col-7 p-fluid">
                                <p-image
                                    [src]="inValue.image_card_after"
                                    [preview]="true"
                                    alt="Image"
                                    width="100"
                                    height="100"
                                    (onImageError)="
                                        onImageErrorImageProfile(
                                            $event,
                                            'image_card_after'
                                        )
                                    "
                                >
                                </p-image>
                            </div>
                        </div>
                    </div>


                    <div class="col-12">
                        <div class="grid">
                            <div class="col-5">
                                <h6 htmlFor="image_face_left">
                                    Image Face Left
                                </h6>
                            </div>
                            <div class="col-7 p-fluid">
                                <p-image
                                    [src]="inValue.image_face_left"
                                    [preview]="true"
                                    alt="Image"
                                    width="100"
                                    height="100"
                                    (onImageError)="
                                        onImageErrorImageProfile(
                                            $event,
                                            'image_face_left'
                                        )
                                    "
                                >
                                </p-image>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="grid">
                            <div class="col-5">
                                <h6 htmlFor="image_face_right">
                                    Image Face Right
                                </h6>
                            </div>
                            <div class="col-7 p-fluid">
                                <p-image
                                    [src]="inValue.image_face_right"
                                    [preview]="true"
                                    alt="Image"
                                    width="100"
                                    height="100"
                                    (onImageError)="
                                        onImageErrorImageProfile(
                                            $event,
                                            'image_face_right'
                                        )
                                    "
                                >
                                </p-image>
                            </div>
                        </div>
                    </div>


                    <h5
                        *ngIf="
                            inValue.employee_type_id != 1 &&
                            inValue.employee_type_id != 2 &&
                            inValue.employee_type_id != 3
                        "
                    >
                        RAWDATA REPORT
                    </h5>
                    <div class="field" *ngIf="inValue.employee_type_id != 1">
                        <p-table
                            [value]="menuRawData"
                            [tableStyle]="{ width: '100%' }"
                            dataKey="report_id"
                            editMode="row"
                        >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="w-200 text-center">raw</th>
                                    <th
                                        class="w-200 text-center"
                                        *ngIf="
                                            inValue.role > 0 &&
                                            (currentUser.employee_type_id ==
                                                1 ||
                                                currentUser.employee_type_id ==
                                                    2 ||
                                                currentUser.employee_type_id ==
                                                    3)
                                        "
                                    >
                                        check
                                    </th>
                                </tr>
                            </ng-template>

                            <ng-template
                                pTemplate="body"
                                let-item
                                let-editing="editing"
                                let-ri="rowIndex"
                            >
                                <tr [pEditableRow]="item">
                                    <td>
                                        <i [class]="item.icon"></i>
                                        {{ item.report_name }}
                                    </td>

                                    <td
                                        class="text-center"
                                        *ngIf="
                                            inValue.role > 0 &&
                                            (currentUser.employee_type_id ==
                                                1 ||
                                                currentUser.employee_type_id ==
                                                    2 ||
                                                currentUser.employee_type_id ==
                                                    3)
                                        "
                                    >
                                        <p-checkbox
                                            [binary]="true"
                                            (click)="
                                                onRowEditSaveRaw(
                                                    item,
                                                    inValue.employee_id
                                                )
                                            "
                                            [(ngModel)]="item._check"
                                            inputId="1"
                                        ></p-checkbox>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <div class="col-4">
                    <h5>Projects</h5>

                    <div *ngIf="inValue.role > 0 && displayProject == true">
                        <app-control-project
                            [itemEmployeeProject]="item_Project"
                            [existsData]="inValue.project_list"
                            (outValue)="selectProject($event)"
                        ></app-control-project>
                    </div>

                    <p></p>
                    <div class="field">
                        <p-toolbar
                            *ngIf="inValue.role > 0 && displayProject == true"
                        >
                            <div class="p-toolbar-group-left flex flex-wrap">
                                <button
                                    pButton
                                    type="button"
                                    label="Add"
                                    icon="pi pi-angle-right"
                                    (click)="addProject()"
                                    class="p-button-success m-2"
                                ></button>
                            </div>
                            <div class="p-toolbar-group-right">
                                <p-confirmPopup></p-confirmPopup>
                                <button
                                    pButton
                                    type="button"
                                    label="Remove"
                                    icon="pi pi-angle-left"
                                    (click)="removeProject($event)"
                                    class="p-button-danger m-2"
                                ></button>
                            </div>
                        </p-toolbar>

                        <p-listbox
                            [options]="inValue.project_list"
                            [(ngModel)]="selected_project"
                            optionLabel="name"
                        >
                            <ng-template let-project pTemplate="item">
                                <div class="flex align-items-center gap-2">
                                    <p-checkbox
                                        [(ngModel)]="project.checked"
                                        [binary]="true"
                                        inputId="binary"
                                    ></p-checkbox>
                                    <img
                                        [src]="project.image"
                                        style="width: 18px"
                                    />
                                    <div>
                                        {{ project.project_code }} -
                                        {{ project.project_name }}
                                    </div>
                                </div>
                            </ng-template>
                        </p-listbox>
                    </div>
                    <hr />
                    <h5 *ngIf="inValue.employee_type_id != 1">MENU</h5>
                    <div class="field" *ngIf="inValue.employee_type_id != 1">
                        <p-table
                            rowGroupMode="subheader"
                            groupRowsBy="representative.name"
                            [value]="inValue.menu_list"
                            sortField="orders_p"
                            [sortOrder]="1"
                            [tableStyle]="{ width: '100%' }"
                            dataKey="menu_id"
                            editMode="row"
                        >
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="w-200 text-center">menu</th>
                                    <th
                                        class="w-200 text-center"
                                        *ngIf="
                                            inValue.role > 0 &&
                                            (currentUser.employee_type_id ==
                                                1 ||
                                                currentUser.employee_type_id ==
                                                    2 ||
                                                currentUser.employee_type_id ==
                                                    3)
                                        "
                                    >
                                        check
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="groupheader" let-item>
                                <tr pRowGroupHeader>
                                    <td
                                        colspan="3"
                                        style="background-color: greenyellow"
                                    >
                                        <span class="font-bold ml-2">{{
                                            item.representative.name
                                        }}</span>
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-template
                                pTemplate="body"
                                let-item
                                let-editing="editing"
                                let-ri="rowIndex"
                            >
                                <tr [pEditableRow]="item">
                                    <td>
                                        <i [class]="item.icon"></i>
                                        {{ item.label }}
                                    </td>

                                    <td
                                        class="text-center"
                                        *ngIf="
                                            inValue.role > 0 &&
                                            (currentUser.employee_type_id ==
                                                1 ||
                                                currentUser.employee_type_id ==
                                                    2 ||
                                                currentUser.employee_type_id ==
                                                    3)
                                        "
                                    >
                                        <p-checkbox
                                            [binary]="true"
                                            (click)="onRowEditSave(item)"
                                            [(ngModel)]="item._check"
                                            inputId="1"
                                        ></p-checkbox>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>

                    <div
                        class="field"
                        *ngIf="
                            inValue.role > 0 &&
                            (currentUser.employee_type_id == 1 ||
                                currentUser.employee_type_id == 2 ||
                                currentUser.employee_type_id == 3)
                        "
                    >
                        <div class="p-inputgroup">
                            <input
                                type="text"
                                [(ngModel)]="inValue.share_menu"
                                pInputText
                                placeholder="Share to employee code"
                            />
                            <p-button
                                (click)="confirm($event)"
                                icon="pi pi-check-circle"
                                styleClass="p-button-warn"
                            ></p-button>
                        </div>
                    </div>
                    <p-confirmPopup></p-confirmPopup>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="action == 'edit'">
    <div class="container" *ngIf="inValue">
        <!-- {{inValue |json}} -->
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div
                                class="d-flex flex-column align-items-center text-center"
                            >
                                <!-- <img src="https://bootdey.com/img/Content/avatar/avatar7.png " alt="Admin" class="rounded-circle " width="150 "> -->

                                <p-image
                                    *ngIf="inValue.image"
                                    [src]="inValue.image"
                                    [preview]="true"
                                    alt="Admin"
                                    class="rounded-circle"
                                    width="150"
                                    (onImageError)="
                                        onImageErrorImageProfile(
                                            $event,
                                            'image'
                                        )
                                    "
                                >
                                </p-image>

                                <div class="mt-3">
                                    <h4></h4>
                                    <p class="text-secondary mb-1"></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mt-3">
                        <div class="p-fluid">
                            <div class="field">
                                <h6 htmlFor="name1 ">Login name</h6>
                                <input
                                    pInputText
                                    id="_input_login_name"
                                    [(ngModel)]="inValue.login_name"
                                    class="text-center font-bold"
                                    type="text "
                                    [disabled]="true"
                                />
                            </div>

                            <div class="field">
                                <h6 htmlFor="password ">Password</h6>
                                <p-password
                                    id="password"
                                    placeholder="Please input password"
                                    [(ngModel)]="inValue.passEncrypt"
                                    [disabled]="
                                        checkAction() == true ? false : true
                                    "
                                    [toggleMask]="true"
                                >
                                    <ng-template pTemplate="footer ">
                                        <p-divider></p-divider>
                                        <p class="mt-2">Suggestions</p>
                                        <ul
                                            class="pl-2 ml-2 mt-0"
                                            style="line-height: 1.5"
                                        >
                                            <li>At least one lowercase</li>
                                            <li>At least one uppercase</li>
                                            <li>At least one numeric</li>
                                            <li>
                                                At least one special character
                                            </li>
                                            <li>Minimum 8 characters</li>
                                        </ul>
                                    </ng-template>
                                </p-password>
                            </div>

                            <div
                                class="flex align-items-center justify-content-right gap-2"
                            >
                                <div class="field">
                                    <h6 htmlFor="name1 ">Verify</h6>
                                    <div class="field-checkbox">
                                        <p-checkbox
                                            name="group_name"
                                            [binary]="true"
                                            [(ngModel)]="_verify"
                                            (click)="clickVerify()"
                                        ></p-checkbox>
                                    </div>
                                </div>

                                <div class="field">
                                    <h6 htmlFor="name1 ">Status</h6>
                                    <div class="field-checkbox">
                                        <p-checkbox
                                            name="group_name"
                                            [binary]="true"
                                            [(ngModel)]="inValue._status"
                                        ></p-checkbox>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <p-button
                                    label="Change Password"
                                    (click)="changePassword()"
                                    *ngIf="checkAction()"
                                    styleClass="p-button-success p-button-sm "
                                ></p-button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="p-fluid">
                                <div class="field">
                                    <h6 htmlFor="email1 ">Employee Code</h6>
                                    <input
                                        class="font-bold"
                                        pInputText
                                        id="_employee_code "
                                        [(ngModel)]="inValue.employee_code"
                                        [disabled]="true"
                                        type="text "
                                    />
                                </div>

                                <div class="field">
                                    <h6 htmlFor="email1 ">
                                        Employee Name<span
                                            style="
                                                color: red;
                                                font-weight: bold;
                                            "
                                        >
                                            *</span
                                        >
                                    </h6>
                                    <input
                                        pInputText
                                        id="_employee_name "
                                        [(ngModel)]="inValue.employee_name"
                                        type="text "
                                    />
                                </div>

                                <div class="field">
                                    <h6 htmlFor="email1 ">
                                        CCCD<span
                                            style="
                                                color: red;
                                                font-weight: bold;
                                            "
                                        >
                                            *</span
                                        >
                                    </h6>

                                    <!-- <input pInputText id="card_number" [(ngModel)]="inValue.card_number" type="text" /> -->

                                    <p-inputMask
                                        mask="999999999999"
                                        [(ngModel)]="inValue.card_number"
                                    ></p-inputMask>
                                </div>

                                <div class="field">
                                    <h6 htmlFor="email1 ">
                                        Mobile<span
                                            style="
                                                color: red;
                                                font-weight: bold;
                                            "
                                        >
                                            *</span
                                        >
                                    </h6>

                                    <p-inputMask
                                        mask="0999999999"
                                        [(ngModel)]="inValue.mobile"
                                    ></p-inputMask>
                                </div>
                                <!--   
                                <div class="field">
                                    <h6 htmlFor="email1 ">Birthday Date<span style=" color: red; font-weight: bold; ">
                                            *</span></h6>

                                    <input pInputText id="date" class="mr-2" type="date" [maxlength]="10" [max]="date"
                                        [(ngModel)]="inValue.birthday_date" />

                                </div>-->

                                <div
                                    class="flex align-items-center justify-content-right gap-2"
                                >
                                    <div class="grid">
                                        <div class="col-8">
                                            <div class="field">
                                                <h6 htmlFor="email1 ">
                                                    Birthday Date<span
                                                        style="
                                                            color: red;
                                                            font-weight: bold;
                                                        "
                                                    >
                                                        *</span
                                                    >
                                                </h6>

                                                <input
                                                    pInputText
                                                    id="date"
                                                    class="mr-2"
                                                    type="date"
                                                    [maxlength]="10"
                                                    [max]="date"
                                                    [(ngModel)]="
                                                        inValue.birthday_date
                                                    "
                                                />
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="field">
                                                <h6 htmlFor="sex">Gender</h6>
                                                <div
                                                    class="flex flex-wrap gap-3"
                                                >
                                                    <div
                                                        class="flex align-items-center"
                                                    >
                                                        <div
                                                            *ngFor="
                                                                let item of gerders
                                                            "
                                                            class="field-checkbox"
                                                        >
                                                            <p-radioButton
                                                                name="item"
                                                                [value]="item"
                                                                [(ngModel)]="
                                                                    selectedGender
                                                                "
                                                            />
                                                            <label
                                                                [for]="item.key"
                                                                class="mr-2"
                                                            >
                                                                {{ item.name }}
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="grid">
                                    <div class="col-3"></div>
                                </div>

                                <div class="field">
                                    <h6 htmlFor="email1 ">
                                        Email<span
                                            style="
                                                color: red;
                                                font-weight: bold;
                                            "
                                        >
                                            *</span
                                        >
                                    </h6>
                                    <input
                                        pInputText
                                        id="email "
                                        [(ngModel)]="inValue.email"
                                        type="email "
                                    />
                                </div>

                                <div class="grid">
                                    <div class="col-3">
                                        <h6 htmlFor="inValue.image">
                                            Image Profile
                                        </h6>
                                    </div>
                                    <div class="col-6">
                                        <input
                                            pInputText
                                            id="inValue.image"
                                            type="file"
                                            (change)="onChangeImage($event)"
                                        />
                                    </div> 
                                </div>

                                <!-- <div class="grid">
                                    <div class="col-3"></div>
                                    <div class="col-9">
                                        <p-image
                                            *ngIf="inValue.image_card_before"
                                            [src]="inValue.image_card_before"
                                            [preview]="true"
                                            alt="Image"
                                            alt="Admin"
                                            class="rounded-circle"
                                            width="50"
                                            (onImageError)="
                                                onImageErrorImageProfile(
                                                    $event,
                                                    'image_card_before'
                                                )
                                            "
                                        >
                                        </p-image>
                                    </div>
                                </div> -->

                                <div class="grid">
                                    <div class="col-3">
                                        <h6 htmlFor="inValue.image_card_before">
                                            Image Card Before
                                        </h6>
                                    </div>
                                    <div class="col-6">
                                        <input
                                            pInputText
                                            id="inValue.image_card_before"
                                            type="file"
                                            (change)="
                                                onChangeImageBefore($event)
                                            "
                                        />
                                    </div>
                                    <div class="col-3">
                                        <p-image
                                        *ngIf="inValue.image_card_before"
                                        [src]="inValue.image_card_before"
                                        [preview]="true"
                                        alt="Image"
                                        alt="Admin"
                                        class="rounded-circle"
                                        width="50"
                                        (onImageError)="
                                            onImageErrorImageProfile(
                                                $event,
                                                'image_card_before'
                                            )
                                        "
                                    >
                                    </p-image>
                                    </div>
                                </div>
 

                                <div class="grid">
                                    <div class="col-3">
                                        <h6 htmlFor="inValue.image_card_after">
                                            Image Card After
                                        </h6>
                                    </div>
                                    <div class="col-6">
                                        <input
                                            pInputText
                                            id="inValue.image_card_after"
                                            type="file"
                                            (change)="
                                                onChangeImageAfter($event)
                                            "
                                        />
                                    </div>
                                    <div class="col-3">
                                        <p-image
                                        *ngIf="inValue.image_card_after"
                                        [src]="inValue.image_card_after"
                                        [preview]="true"
                                        alt="Image"
                                        alt="Admin"
                                        class="rounded-circle"
                                        width="50"
                                        (onImageError)="
                                            onImageErrorImageProfile(
                                                $event,
                                                'image_card_after'
                                            )
                                        "
                                    >
                                    </p-image>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="col-3">
                                        <h6 htmlFor="inValue.image_face_left">
                                            Image Face Left
                                        </h6>
                                    </div>
                                    <div class="col-6">
                                        <input
                                            pInputText
                                            id="inValue.image_face_left"
                                            type="file"
                                            (change)="
                                                onChangeImageFaceLeft($event)
                                            "
                                        />
                                    </div>
                                    <div class="col-3">
                                        <p-image
                                        *ngIf="inValue.image_face_left"
                                        [src]="inValue.image_face_left"
                                        [preview]="true"
                                        alt="Image"
                                        alt="Admin"
                                        class="rounded-circle"
                                        width="50"
                                        (onImageError)="
                                            onImageErrorImageProfile(
                                                $event,
                                                'image_face_left'
                                            )
                                        "
                                    >
                                    </p-image>
                                    </div>
                                </div>

                                <div class="grid">
                                    <div class="col-3">
                                        <h6 htmlFor="inValue.image_face_right">
                                            Image Face Right
                                        </h6>
                                    </div>
                                    <div class="col-6">
                                        <input
                                            pInputText
                                            id="inValue.image_face_right"
                                            type="file"
                                            (change)="
                                                onChangeImageFaceRight($event)
                                            "
                                        />
                                    </div>
                                    <div class="col-3">
                                        <p-image
                                        *ngIf="inValue.image_face_right"
                                        [src]="inValue.image_face_right"
                                        [preview]="true"
                                        alt="Image"
                                        alt="Admin"
                                        class="rounded-circle"
                                        width="50"
                                        (onImageError)="
                                            onImageErrorImageProfile(
                                                $event,
                                                'image_face_right'
                                            )
                                        "
                                    >
                                    </p-image>
                                    </div>
                                </div>

                                <div class="field">
                                    <h6 htmlFor="email1 ">
                                        Employee Type<span
                                            style="
                                                color: red;
                                                font-weight: bold;
                                            "
                                        >
                                            *</span
                                        >
                                    </h6>
                                    <app-control-employee-type
                                        (outValue)="selectEmployeeType($event)"
                                        (newItemParent)="addItem($event)"
                                        [itemEmployeeType]="itemEmployee"
                                    ></app-control-employee-type>
                                </div>

                                <div class="field">
                                    <!-- [employee_type_id]="inValue.manager_type_id" -->
                                    <h6 htmlFor="email1 ">Manager</h6>
                                    <app-control-employee-list
                                        (outValue)="selectASM($event)"
                                        [itemManagerCode]="inValue.manager_id"
                                        [employee_id]="inValue.employee_id"
                                    ></app-control-employee-list>
                                </div>

                                <div
                                    class="field"
                                    *ngIf="inValue.employee_type_id != 1"
                                >
                                    <h6 htmlFor="position">Position</h6>
                                    <div class="col-12">
                                        <div class="grid">
                                            <div class="col-10">
                                                <app-control-position
                                                    [itemPosition]="
                                                        itemPosition
                                                    "
                                                    (outValue)="
                                                        selectPosition($event)
                                                    "
                                                >
                                                </app-control-position>
                                            </div>
                                            <div class="col-2">
                                                <button
                                                    pButton
                                                    (click)="updatePosition()"
                                                    type="button"
                                                    icon="pi pi-file-edit"
                                                    class="p-button-sm mr-2 p-fluid"
                                                ></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div
                                    class="field"
                                    *ngIf="inValue.employee_type_id != 1"
                                >
                                    <h6 htmlFor="category">Category</h6>
                                    <div class="col-12">
                                        <div class="grid">
                                            <div class="col-10">
                                                <app-control-employee-category
                                                    [itemCategory]="
                                                        itemCategory
                                                    "
                                                    (outValue)="
                                                        selectCategory($event)
                                                    "
                                                >
                                                </app-control-employee-category>
                                            </div>
                                            <div class="col-2">
                                                <button
                                                    pButton
                                                    (click)="updateCategory()"
                                                    type="button"
                                                    icon="pi pi-file-edit"
                                                    class="p-button-sm mr-2 p-fluid"
                                                ></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div
                                    class="field"
                                    *ngIf="
                                        currentUser.employee_type_id == 1 ||
                                        currentUser.employee_type_id == 3
                                    "
                                >
                                    <p-button
                                        label="Update"
                                        (click)="update_info()"
                                        styleClass="p-button-success p-button-sm "
                                    ></p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
