<app-breadcrumb-menu [items_menu]="items_menu" [home]="home"></app-breadcrumb-menu>

<div class="grid animation-duration-500 box">
    <div class="col-12">
        <div class="card">
            <div class="row">                
                <div class="md:col-4">
                    <h6>Process</h6>
                    <!-- <app-control-process-list (outValue)="selectedCategory($event)"></app-control-process-list> -->
                    <p-dropdown [options]="filterProcesses" (onChange)="selectedFilterProcess($event)"
                        optionLabel="process_name" [showClear]="true" [filter]="true" filterBy="process_name"
                        [style]="{'minWidth':'100%'}" placeholder="Select Process">
                        <ng-template let-filterProcess pTemplate="item">
                            <div class="flex align-items-center gap-2">
                            <div>{{filterProcess.process_name}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="md:col-4">
                    <h6>Note</h6>
                    <input pInputText type="text" [style]="{ minWidth: '100%' }" 
                    [(ngModel)]="note" placeholder="Note" />
                </div>   
                <div class="md:col-3">
                    <h6>Edit</h6>
                    <p-dropdown [options]="filterIsEdits" (onChange)="selectedFilterIsEdits($event)" optionLabel="name"
                        [showClear]="true" (onClear)="clearFilterStatus()" [style]="{'minWidth':'100%'}"
                        placeholder="Any">
                        <ng-template let-filterIsEdit pTemplate="item">
                            <div *ngIf="filterIsEdit.name === 'Active'; else Inactive">
                                <div class="flex align-items-center gap-2">
                                    <i class="pi pi-check-circle" style="font-size: 1.2rem; color: green;"></i>
                                    <div>{{ filterIsEdit.name }}</div>
                                </div>
                            </div>
                            <ng-template #Inactive>
                                <div class="flex align-items-center gap-2">
                                    <i class="pi pi-times-circle" style="font-size: 1.2rem; color: red;"></i>
                                    <div>{{ filterIsEdit.name }}</div>
                                </div>
                            </ng-template>
                        </ng-template>
                    </p-dropdown>     
                </div>        
            </div>
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <div class="row">
            <p-toolbar>
                <div class="p-toolbar-group-left flex flex-wrap">
                    <button pButton type="button " label="Filter" [loading]="isLoading_Filter" icon="pi pi-search"
                        (click)="loadData(1)" class="p-button-sm mr-2 mt-2"></button>

                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-sm mr-2 mt-2"
                        (click)="openNew()"></button>

                    <i class="pi pi-bars p-toolbar-separator"></i>
                    <button pButton type="button" pTooltip="Show Filter" pStyleClass=".box" enterClass="hidden"
                        enterActiveClass="fadeinup" (click)="ShowHideFilter()" tooltipPosition="top" icon="pi pi-eye"
                        class=" p-button-success mr-2 mt-2"
                        [ngStyle]="{'display' : showFilter === 1 ? 'none' : 'flex'}"></button>

                    <button pButton type="button" pTooltip="Hide Filter" (click)="ShowHideFilter()"
                        tooltipPosition="top" icon="pi pi-eye-slash" class="p-button-warning mr-2 mt-2"
                        pStyleClass=".box" leaveActiveClass="fadeoutup" leaveToClass="hidden"
                        [ngStyle]="{'display' : showFilter === 0 ? 'none' : 'flex'}"></button>
                </div>
            </p-toolbar>
        </div>
    </div>
</div>

<div class="card" *ngIf="is_loadForm === 1">
    <p-toast></p-toast>

    <p-table #dt2 [value]="listNote" *ngIf="listNote && listNote.length > 0" [globalFilterFields]="['id', 'process_id']"
        [rowHover]="false" [paginator]="true" [first]="first" [rows]="20" [rowsPerPageOptions]="[20, 50, 100]" 
        paginatorPosition="top" (onPage)="onPageChange($event)" selectionMode="single" dataKey="Prc_id" styleClass="p-datatable-gridlines"
    >
        <ng-template pTemplate="caption">
            Total Item: {{ totalRecords }}
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="text-lg">
                <th class="text-center" pSortableColumn="id">
                    ID <p-sortIcon field="id"></p-sortIcon>
                </th>
                <th class="text-center">Process name</th>
                <th class="text-center">Note</th>
                <th class="text-center">Edit</th>
                <th class="text-center">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td class="text-center">
                    <span class="font-bold">{{ item.id }}</span>
                </td>
                <td class="text-left">
                    <span class="font-medium cursor-pointer" pTooltip="ID: {{item.process_id}}">{{ item.process_name }}</span>
                </td>
                <td class="text-left">
                    <span class="font-bold">{{ item.note }}</span>
                </td>
                <td class="text-center w-fits">
                    <div *ngIf="item.is_edit === 1; else zero">
                        <i class="pi pi-check-circle" style="font-size: 1.4rem; color: green;"></i>
                    </div>
                    <ng-template #zero>
                        <i class="pi pi-times-circle" style="font-size: 1.4rem; color: red"></i>
                    </ng-template>
                </td>
                <td class="text-center flex flex-row align-items-center justify-content-center gap-3 h-full">
                    <button class="p-button-rounded p-button-text" style="font-size: 2.5rem" title="Edit"
                        (click)="openEdit(item)" pButton pRipple type="button" icon="pi pi-pencil">
                    </button>
                    <button class="p-button-rounded p-button-danger p-button-text" style="font-size: 2.5rem" title="Delete"
                        (click)="openDelete(item, $event)" pButton pRipple type="button" icon="pi pi-trash">
                    </button>
                    <p-confirmPopup></p-confirmPopup>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="card flex justify-content-center justify-content-between text-center "
        *ngIf="listNote && listNote.length === 0" style="float: right;">
        <h5>No data</h5>
    </div>
</div>

<!-- Create Dialog -->
<p-dialog [(visible)]="openNewTakeNote" [style]="{ width: '22vw' }" header="Create Take Note"
    [modal]="true" [closable]="true" styleClass="p-fluid" [maximizable]="true">
    <ng-template pTemplate="content">
        <div class="wrapper-id-type flex flex-column w-full h-fit align-items-start justify-content-between gap-3">
            <div class="flex flex-row w-full h-fit align-items-start justify-content-between gap-3">
                <div class="field w-9">
                    <label for="process_id">Process<span class="font-bold" style="color: red;"> *</span></label>
                    <p-dropdown [options]="filterProcesses" (onChange)="selectedFilterProcess($event)" id="process_name"
                        optionLabel="process_name" [showClear]="true" [filter]="true" filterBy="process_name"
                        [style]="{'minWidth':'100%'}" placeholder="Select Process" appendTo="body">
                        <ng-template let-filterProcess pTemplate="item">
                            <div class="flex align-items-center gap-2">
                              <div>{{filterProcess.process_name}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>

                <div class="field flex flex-column align-items-start justify-content-between w-2">
                    <label for="is_edit">Edit?</label>
                    <p-checkbox id="is_edit" [binary]="true" [value]="is_edit" [(ngModel)]="is_edit"></p-checkbox>
                </div>
            </div>

            <div class="field w-12">
                <label for="note">Note content<span class="font-bold" style="color: red;"> *</span></label>
                <div class="w-full mt-3">
                    <input pInputText id="note" [(ngModel)]="noteContent" placeholder="Please fill in Note content" />
                </div>   
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
            (click)="saveNoteContent($event)"></button>   
    </ng-template>
</p-dialog> 

<!-- Edit Dialog -->
<p-dialog [(visible)]="openEditTakeNote" [style]="{ width: '22vw' }" header="Edit Take Note"
    [modal]="true" [closable]="true" styleClass="p-fluid" [maximizable]="true">
    <ng-template pTemplate="content">
        <div class="wrapper-id-type flex flex-column w-full h-fit align-items-start justify-content-between gap-3">
            <div class="flex flex-row w-full h-fit align-items-start justify-content-between gap-3">
                <div class="field w-9">
                    <label for="process_id">Process<span class="font-bold" style="color: red;"> *</span></label>
                    <input type="text" pInputText id="process_id" [value]="editInfoProcess.process_name" [disabled]="true" />
                </div>

                <div class="field flex flex-column align-items-start justify-content-between w-2">
                    <label for="is_edit">Edit?</label>
                    <p-checkbox id="is_edit" [binary]="true" [value]="editIsEdit" [(ngModel)]="editIsEdit"></p-checkbox>
                </div>
            </div>

            <div class="field w-12">
                <label for="note">Note content<span class="font-bold" style="color: red;"> *</span></label>
                <div class="w-full mt-3">
                    <input pInputText id="note" [(ngModel)]="editNoteContent" placeholder="{{ editNoteContent }}" />
                </div>   
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
            (click)="editNoteList($event)"></button>   
    </ng-template>
</p-dialog>