<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<div *ngIf="action =='create'">
    <div class="container">
        <div class="main-body">
            <!-- /Breadcrumb -->

            <div class="row gutters-sm">

                <div class="col-md-12 mb-3">

                    <div class="card mt-3">  
  
                        <div class="field p-fluid">
                            <h6>Survey Name<span style="color: red; font-weight: bold;"> *</span></h6>  
                            <p>
                                <input pInputText id="survey_name " [(ngModel)]="survey_name" type="text" />
                            </p> 
                        </div>

                        <div class="field p-fluid">
                            <h6>Order<span style="color: red; font-weight: bold;"> *</span></h6>
                            <p>
                                <input pInputText id="order" [(ngModel)]="order" [disabled]="false" type="number" [min]="0"/>
                            </p>
                        </div>

                        <div class="field p-fluid">
                            <h6>Survey Type<span style="color: red; font-weight: bold;"> *</span></h6>
                            <p> 
                                <app-control-survey-type class="p-fluid"  [itemSurveyType]= "item_SurveyType"
                                (outValue)="selectSurveyType($event)"></app-control-survey-type>  
                            </p>
                        </div>


                        <div class="field p-fluid">
                            <h6>Status</h6>
                            <p>
                                <!-- [inputId]="_status" -->
                                <p-checkbox  name="group1" [binary]="true"  [(ngModel)]="_status" >
                                </p-checkbox>
                            </p>
                        </div>
 
                        <div class="field p-fluid">
                            <p-button label="Save" (click)="createSurvey()" styleClass="p-button-success p-button-sm"></p-button>
                            <!-- <p-messages *ngIf="clearMess == true" [value]="msgsInfo"></p-messages> -->
                        </div>

                    </div>
                </div> 
                
            </div>

        </div>
    </div>
</div> 

<div *ngIf="action =='update'">
    <div class="container">
        <div class="main-body">
            <!-- /Breadcrumb -->

            <div class="row gutters-sm">

                <div class="col-md-12 mb-3">

                    <div class="card mt-3">   
 
                        <div class="field p-fluid">
                            <p-button label="Save" (click)="createSurvey()" styleClass="p-button-success p-button-sm"></p-button>
                            <!-- <p-messages [value]="msgsInfo"></p-messages> -->
                        </div>

                    </div>
                </div> 
                
            </div>

        </div>
    </div>
</div>

<div *ngIf="action =='updateSurveyDetails'">
    <div class="container">
        <div class="main-body">
            <!-- /Breadcrumb -->

            <div class="row gutters-sm">

                <div class="col-md-12 mb-3">

                    <div class="card mt-3">  
 
 
                        <div class="field p-fluid">
                            <p-button label="Save" (click)="createSurvey()" styleClass="p-button-success p-button-sm"></p-button>
                            
                        </div>

                    </div>
                </div> 
                
            </div>

        </div>
    </div>
</div>

