.wrapper-menu {
    border-radius: 3rem 3rem 0 0;
    background: #F1F5FF;
    z-index: 2;
}

.container {
    display: grid; 
    padding: 0px;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 20px 20px; 
    grid-template-areas: 
      ". ."
      ". ."
      ". ."; 

    .item {
        border-radius: 2rem;
        background: #FFFFFF;
    }
}