  
<!-- ----------- -->  

            <!-- <div class="login"> 
                <div class="account-login" style="margin-bottom: 5%;">
                <h1 class="text-center font-bold" style="margin-bottom: 10%;"> Change Password </h1> 
                <div> 
                <form control="" class="form-group login-form">   
                    <p-messages class="text-center" [value]="msgsInfo "></p-messages>
                         
                    <input type="password" [(ngModel)]="password" name="password"  id="password" class="form__input text-center"
                        placeholder="Please input password">

                    <input type="password" [(ngModel)]="confirmPassword" name="password" id="password" class="form__input text-center"
                        placeholder="Please input confirmPassword">    
                    <button type="submit" (window:keypress)="onSomeAction($event)" (click)="Change_Password()"
                        class="btn">Change Password</button> 
        
                </form>
                <p>version: 20230701.1</p> 
            </div>  -->
  
<!-- ====================== -->
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1" style="background: white;min-height: 350px;">
          <form class="p-7">
            <h1 class="text-center font-bold" style="margin-bottom: 10%;"> Change Password </h1>  
 
            <div class="form-outline mb-4">
                <label class="form-label font-bold" for="password">Password<span style="color: red; font-weight: bold;"> *</span></label>   
                <input type="password" [(ngModel)]="password" name="password"  id="password" class="form-control form-control-lg"
                placeholder="Please input password">

                <!-- <p class="form-control form-control-lg" >
                    <p-password id="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" placeholder="Please input password" 
                    [(ngModel)]="password" class="form__input text-center" [disabled]="false" [toggleMask]="true "> 
                        <ng-template pTemplate="footer">
                            <p-divider></p-divider>
                            <p class="mt-2">Suggestions</p>
                            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                <li>At least one lowercase</li>
                                <li>At least one uppercase</li>
                                <li>At least one numeric</li>
                                <li>Minimum 8 characters</li>
                            </ul>
                        </ng-template> 
                    </p-password>
                </p>   -->

            </div> 
   
            <div class="form-outline mb-3">
                <label class="form-label font-bold" for="form3Example4">Confirm Password<span style="color: red; font-weight: bold;"> *</span></label>  
                <input type="password" [(ngModel)]="confirmPassword" name="password" id="password" class="form-control form-control-lg"
                        placeholder="Please input confirmPassword">  
                    <!-- <p >
                        <p-password id="confirm_password" placeholder="Confirm password" 
                        [(ngModel)]="confirmPassword" style="width: 100%;"
                        [disabled]="false" [toggleMask]="true ">
        
                            <ng-template pTemplate="footer">
                                <p-divider></p-divider>
                                <p class="mt-2">Suggestions</p>
                                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                    <li>At least one lowercase</li>
                                    <li>At least one uppercase</li>
                                    <li>At least one numeric</li>
                                    <li>Minimum 8 characters</li>
                                </ul>
                            </ng-template>
    
                        </p-password>
                    </p> -->
                        
            </div>  

            <div class="text-center text-lg-start mt-4 pt-2"> 

                 <button type="button" (window:keypress)="onSomeAction($event)" (click)="Change_Password()" class="btn btn-primary btn-lg"
                 style="padding-left: 2.5rem; padding-right: 2.5rem;">Change Password</button> 
            </div>
            
            <p-messages [value]="msgsInfo"></p-messages>
          </form>
           
        </div>
      </div>
    </div>
     
  </section>
  <!-- ================================ -->


<p-dialog header="Dialog" [(visible)]="display" [modal]="true" showEffect="fade" [style]="{width: '30vw'}" 
[breakpoints]="{'960px': '75vw'}">
    <p class="line-height-3 m-0">
        {{message}}
    </p>
    <ng-template pTemplate="footer"> 
        <p-button icon="pi pi-check " label="Ok" (click)="OK()"
        styleClass="p-button-outlined p-button-success float-right"  ></p-button>

    </ng-template>
</p-dialog>
 