<app-breadcrumb-menu [items_menu]="items_menu" [home]="home"></app-breadcrumb-menu>

<div class="grid animation-duration-500 box">
    <div class="col-12">
        <div class="card">
            <div class="row">                
                <div class="md:col-3">
                    <h6>Process</h6>
                    <p-dropdown [options]="filterProcesses" (onChange)="selectedFilterProcess($event)"
                        optionLabel="process_name" [showClear]="true" [filter]="true" filterBy="process_name"
                        [style]="{'minWidth':'100%'}" placeholder="Select Process">
                        <ng-template let-filterProcess pTemplate="item">
                            <div class="flex align-items-center gap-2">
                              <div>{{filterProcess.process_name}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="md:col-3">
                    <h6>Status</h6>
                    <p-dropdown [options]="filterStatuses" (onChange)="selectedFilterStatus($event)" optionLabel="name"
                        [showClear]="true" (onClear)="clearFilterStatus()" [style]="{'minWidth':'100%'}"
                        placeholder="Any">
                        <ng-template let-filterStatus pTemplate="item">
                            <div *ngIf="filterStatus.name === 'Active'; else Inactive">
                                <div class="flex align-items-center gap-2">
                                    <i class="pi pi-check-circle" style="font-size: 1.2rem; color: green;"></i>
                                    <div>{{ filterStatus.name }}</div>
                                </div>
                            </div>
                            <ng-template #Inactive>
                                <div class="flex align-items-center gap-2">
                                    <i class="pi pi-times-circle" style="font-size: 1.2rem; color: red;"></i>
                                    <div>{{ filterStatus.name }}</div>
                                </div>
                            </ng-template>
                        </ng-template>
                    </p-dropdown>
                </div>                
            </div>
        </div>
    </div>
</div>

<div class="grid">
    <div class="col-12">
        <div class="row">
            <p-toolbar>
                <div class="p-toolbar-group-left flex flex-wrap">
                    <button pButton type="button " label="Filter" [loading]="isLoading_Filter" icon="pi pi-search"
                        (click)="loadData(1)" class="p-button-sm mr-2 mt-2"></button>

                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-sm mr-2 mt-2"
                        (click)="openNew()"></button>

                    <!-- <button type="button" label="Raw data" pButton (click)="export()" pRipple icon="pi pi-file-excel"
                        style="float: right" class="p-button-sm mr-2 mt-2"></button>

                    <button type="button" label="Clone" pButton (click)="clone()" pRipple icon="pi pi-copy"
                        style="float: right" class="p-button-sm mr-2 mt-2"></button> -->

                    <i class="pi pi-bars p-toolbar-separator"></i>

                    <button pButton type="button" pTooltip="Show Filter" pStyleClass=".box" enterClass="hidden"
                        enterActiveClass="fadeinup" (click)="ShowHideFilter()" tooltipPosition="top" icon="pi pi-eye"
                        class=" p-button-success mr-2 mt-2"
                        [ngStyle]="{'display' : showFilter === 1 ? 'none' : 'flex'}"></button>

                    <button pButton type="button" pTooltip="Hide Filter" (click)="ShowHideFilter()"
                        tooltipPosition="top" icon="pi pi-eye-slash" class="p-button-warning mr-2 mt-2"
                        pStyleClass=".box" leaveActiveClass="fadeoutup" leaveToClass="hidden"
                        [ngStyle]="{'display' : showFilter === 0 ? 'none' : 'flex'}"></button>
                </div>
            </p-toolbar>
        </div>
    </div>
</div>

<div class="card" *ngIf="is_loadForm === 1">
    <p-toast></p-toast>

    <p-table #dt [value]="listProcessProject" *ngIf="listProcessProject && listProcessProject.length > 0" [globalFilterFields]="['Prc_id, project_id', 'process_id', 'process_name', 'status']"
        [rowHover]="false" [paginator]="true" [first]="first" [rows]="20" [rowsPerPageOptions]="[20, 50, 100]" 
        paginatorPosition="top" (onPage)="onPageChange($event)" selectionMode="single" dataKey="Prc_id"
    >
        <ng-template pTemplate="caption">
            Total Item: {{ totalRecords }}
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="text-lg">
                <!-- <th style="width: 4rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th> -->
                <th style="width: 5rem"></th>
                <th class="text-start" pSortableColumn="Prc_id">
                    Prc Id <p-sortIcon field="Prc_id"></p-sortIcon>
                </th>
                <th class="text-center" pSortableColumn="process_id">
                    Process Id <p-sortIcon field="process_id"></p-sortIcon>
                </th>
                <th class="text-center" pSortableColumn="process_name">
                    Process name <p-sortIcon field="process_name"></p-sortIcon>
                </th>
                <th class="text-center">Total Step</th>
                <th class="text-center" pSortableColumn="status">
                    Status <p-sortIcon field="status"></p-sortIcon>
                </th>
                <th class="text-center">Created date</th>
                <th class="text-center">Created by</th>
                <th class="text-center">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-expanded="expanded">
            <tr>
                <!-- <td>
                    <p-tableCheckbox [value]="item"></p-tableCheckbox>
                </td> -->
                <td>
                    <button type="button" pButton pRipple [pRowToggler]="item" 
                        class="p-button-text p-button-rounded p-button-plain"
                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>
                <td class="text-center">
                    <span class="font-bold">{{ item.Prc_id }}</span>
                </td>
                <td class="text-center w-fit">
                    <span class="font-medium">{{ item.process_id }} - {{ item.p_name }}</span>
                </td>
                <td class="text-center w-fit">
                    <span class="font-medium">{{ item.process_name }}</span>
                </td>
                <td class="text-center w-fit">
                    <span class="font-bold">{{ item.total_step }}</span>
                </td>
                <td class="text-center w-fits">
                    <div *ngIf="item.status === 1; else zero">
                        <i class="pi pi-check-circle" style="font-size: 1.4rem; color: green;"></i>
                    </div>
                    <ng-template #zero>
                        <i class="pi pi-times-circle" style="font-size: 1.4rem; color: red"></i>
                    </ng-template>
                </td>
                <td class="text-center w-fit">
                    <span class="font-medium">{{ item.created_date }}</span>
                </td>
                <td class="text-center w-fit">
                    <span class="font-medium">{{ item.created_by }}</span>
                </td>
                <td class="text-center flex flex-row align-items-center justify-content-evenly gap-3 h-full">
                    <button class="border-circle border-none w-3rem h-3rem" style="background-color: #2AC764;"
                        (click)="openEdit()">
                        <i class="pi pi-pencil" style="font-size: 1rem; color: white;"></i>
                    </button>
                    <button class="border-circle border-none w-3rem h-3rem" style="background-color: red;" 
                        (click)="openDelete()">
                        <i class="pi pi-trash" style="font-size: 1rem; color: white;"></i>
                    </button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-item>
            <tr style="text-align: center;">
                <td colspan="100%">
                    <div class="p-2" style="width: 100% !important;">
                        <!-- max-width: 1450px; -->
                        <app-prcs-detail [inValue]="item" [action]="'view'"
                            (outValue)="loadDataPrcsDetail($event)"></app-prcs-detail>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <div class="card flex justify-content-center justify-content-between text-center "
        *ngIf="listProcessProject && listProcessProject.length === 0" style="float: right;">
        <h5>No data</h5>
    </div>
</div>
