<div class="layout-footer" *ngIf="false">
    <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}-acacy.png"
        alt="Logo" height="30" class="mr-2" />
    <!-- by -->
    <!-- <span class="font-medium ml-2">ACACY</span> -->
</div>
<!-- <div class="layout-footer footer">

    <section *ngIf="menuMode == 1">
        <p-dock [model]="items" position="bottom">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.icon" [alt]="item.label" width="100%" />
            </ng-template>
        </p-dock>
    </section>


</div>


<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
</style> -->