<app-breadcrumb-menu [items_menu]="items_menu" [home]="home"></app-breadcrumb-menu>

<div class="card animation-duration-500 box">
    <div class="col-12">
        <div class="row">
            <div class="md:col-4">
                <h6>Month</h6>
                <p-dropdown [options]="listMonth" [(ngModel)]="year_month" [showClear]="true" [filter]="true"
                    filterBy="name" [style]="{'minWidth':'100%'}" placeholder="Select a Month"
                    optionLabel="name"></p-dropdown>
            </div>
            <div class="md:col-4">
                <h6>Product</h6>
                <app-control-osa-product [selectMulti]="true" [style]="{'minWidth' : '100px' ,'maxWidth':'100px'}"
                    (outValue)="selectProduct($event)"
                    (outClear)="clearSelectEmployee($event)"></app-control-osa-product>
            </div>
            <div class="md:col-4">
                <h6>Shop</h6>
                <!-- <app-control-shop-list [selectMulti] = "true" (outValue)="selectShop($event)"></app-control-shop-list> -->
                <input [style]="{'minWidth':'100%'}" type="text" pInputText [(ngModel)]="shop_code"
                    placeholder="List Shop Code">
            </div>
        </div>
    </div>
</div>


<p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
        <button [loading]="loading" pButton pRipple label="Filter" icon="pi pi-search" class="p-button-sm mr-2"
            (click)="loadData(1)"></button>
        <button type="button" label="Raw data" pButton (click)="export()" pRipple icon="pi pi-file-excel"
            style="float: right" class="p-button-sm mr-2"></button>
        <button type="button" (click)="ShowHideTemplate(1)" label="Import Excel" pButton pRipple
            class="p-button-sm mr-2" icon="pi pi-upload"></button>

        <i class="pi pi-bars p-toolbar-separator align-middle"></i>
        <button pButton pRipple label="Action" icon="pi pi-sitemap" class="p-button-success p-button-sm mr-2"
            (click)="openNew()"></button>

        <button pButton type="button" pTooltip="Show Filter" pStyleClass=".box" enterClass="hidden"
            enterActiveClass="fadeinup" (click)="showFilter()" tooltipPosition="top" icon="pi pi-eye"
            class=" p-button-success p-button-sm mr-2" [ngStyle]="{'display': showFiter ?'none':'flex'}"></button>

        <button pButton type="button" pTooltip="Hide Filter" (click)="showFilter()" tooltipPosition="top"
            icon="pi pi-eye-slash" class="p-button-warning p-button-sm mr-2" pStyleClass=".box"
            leaveActiveClass="fadeoutup" leaveToClass="hidden"
            [ngStyle]="{'display': !showFiter?'none':'flex'}"></button>

    </ng-template>

    <ng-template pTemplate="right">
    </ng-template>
</p-toolbar>


<div class="card" *ngIf="showTemplate === 1">
    <p-toolbar>
        <div class="p-toolbar-group-start">
            <div class="text-center" class="mr-2">
                <input class="form-control" type="file" (change)="onChange($event)" #myInputFile accept=".xlsx" />
            </div>

            <button pButton pRipple label="Get Template" icon="pi pi-file-export" (click)="getTemplate()"
                class="p-button-sm p-button-info mr-2"></button>
            <button pButton pRipple (click)="importTemplate()" class="ml-2" label="Upload File" icon="pi pi-upload"
                class="p-button-sm p-button-success"></button>
        </div>
    </p-toolbar>

    <hr>

    <div class="card" *ngIf="dataError">
        <p-table #dt [columns]="cols" [value]="dataError" selectionMode="multiple" [exportHeader]="'customExportHeader'"
            [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="caption">
                <div class="flex">
                    <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                        class="p-button-success ml-auto" pTooltip="XLS" tooltipPosition="bottom"></button>
                </div>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="text-center" *ngFor="let col of columns">
                        {{ col.header }}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns">
                        <p [class]="col.field !== 'error_name' ? 'text-center' : ''">{{ rowData[col.field] }} </p>
                    </td>
                </tr>
            </ng-template>

        </p-table>
    </div>

    <hr>
    <div class="card" *ngIf="dataMessError">
        <div class=" col-12">
            <div class="grid">
                <div class="col-1 font-bold">
                    Error Name :
                </div>
                <div class="col-11">
                    {{dataMessError}}
                </div>
            </div>
        </div>
    </div>

</div>


<div class="card">
    <p-toast></p-toast>
    <!--  [paginator]="true"  
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
     [showCurrentPageReport]="true"
 -->
    <p-table #dt [value]="listProductOrder" [rows]="20" [tableStyle]="{ 'min-width': '75rem' }"
        [(selection)]="selectedTopProduct" [rowHover]="true" dataKey="id">

        <ng-template pTemplate="caption">
            Total Item : {{totalRecords}}
            <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
                [totalRecords]="totalRecords" [rowsPerPageOptions]="[20, 50, 100]"></p-paginator>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th class="text-center">Row Number</th>
                <th class="text-center">Shop</th>
                <th class="text-center">Product</th>
                <th class="text-center">Year Month</th>
                <th class="text-center">Orders</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr [pTooltip]="product._toolTip" tooltipPosition="top">
                <td class="text-center">{{ product.RowNumber }}</td>
                <td> <span class="font-bold" style="color: green;">[{{ product.shop_id }}]</span> - {{ product.shop_code
                    }} - {{ product.shop_name }}</td>
                <td> <span class="font-bold" style="color: green;">[{{ product.product_id }}]</span> - {{
                    product.product_code }} - {{ product.product_name }}</td>
                <td class="text-center">{{ product._year_month }}</td>
                <td class="text-center font-bold" style="color: green;">{{ product.orders }}</td>

            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog [(visible)]="productDialog" [style]="{ width: '450px' }" header="Product Order Details" [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p class="font-bold m-0" style="color:red"> * input = 0: Remove </p>
        <p class="font-bold m-0" style="color:red"> * input > 0: Add / Update </p>
        <p-inputNumber class="mt-2" id="orders" [(ngModel)]="orders"></p-inputNumber>
        <button type="button" (click)="saveProduct()" label="Submit" pButton pRipple icon="pi pi-sitemap"
            style="float: right" class="p-button-sm mt-2"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>